.default {
    padding: 10px 10px;
    background-color: #eeeeee45;
    color: #9c9c9c;
    margin: 5px 0px;
    margin-top: 20px;

    p {
        margin: 5px;

        small {
            font-size: 80%;
            font-weight: 400;
        }
    }
}