.default {
    margin-left: 24px;

    h3 {
        color: #000000;
        font-size: 20px;
        font-weight: 300;
        margin-top: 0px;
    }
    p {
        color: #828282;
        font-size: 13px;
        font-weight: 300;
        margin-top: -4px;
    }
}