.default {
    // font-family: "Spoqa Han Sans", "Apple SD Gothic Neo", "Nanum Gothic", "나눔고딕", "Malgun Gothic";
    font-size: 20px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    position: relative;
    margin: 0 auto 35px;
    text-align: center;
    display: flex;
    justify-content: left;
    max-width: 740px;
}