.default {
    position: relative;
    margin: 0 auto 35px;
    text-align: center;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: bounce;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: bounce;
    display: flex;
    justify-content: left;
    max-width: 640px;
}