.default {
    display: block;
    float: left;
    margin-top: -35px;
    width: 20%;

    h1 {
        font: 100 40px "Helvetica Neue",Helvetica,Arial,sans-serif;
        letter-spacing: -1px;
    }
}