.title {
    a {
        color: black;
    }
    a:hover {
        text-decoration: none;
    }
}
.content {
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}
.card-thumbnail {
    max-height: 300px;
    overflow: hidden;
}