.tags {
    font-size: 12px;
    line-height: 1.5em;
    color: #EEE;

    a {
        color: black;
        opacity: 1;
        transition: all 0.15s linear 0s;
        text-decoration: none;
    }
}

.wrapper {
    line-height: 0px;
    margin-top: 30px;;
}

.tag {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.05);
    margin-right: 8px;
    text-decoration: none;
    word-break: keep-all;
}